<h1 class="font-weight-light">Saved Postings</h1>

<p>My saves:</p>
<ul>
    <% @postings.each do |posting| %>
    <%= link_to posting.title, posting_path(posting), target: '_blank'  %><br>
    <% end %>
    <br><br>

</ul>
<p><%= button_to 'Search for more jobs', search_postings_path, method: :get %></p>